{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            Je suis logger
        </div>
    {% else %}
        Je suis pas logger
    {% endif %}

{% endblock content %}