{% extends "layout.html.twig" %} {% block content %}

<body class="background">
    <section>
        <div class="container-fluid row">
            <div class="col col-md-8 col-md-offset-2" style="background-color: white">
                <img class="prochainement" src="img/cover/berserk.jpg" alt="">
                <img class="prochainement" src="img/cover/black-clover.jpg" alt="">
                <img class="prochainement" src="img/cover/bleach.jpg" alt="">
                <img class="prochainement" src="img/cover/boruto.jpg" alt="">
                <img class="prochainement" src="img/cover/detective-conan.jpg" alt="">
                <div class="col col-md-8 col-md-offset-2">
                    <div class="" style="background-color: white">
                        <h3 style="text-align: center;">Suggestions</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Tous les Mangas :</h3>
                <div class="row">
                    {% for manga in mangas %}
                        {% if manga.idManga is divisible by(6) %}
                        <div class="row">
                        </div>
                        {% endif %}
                        <div class="col-md-2 col-xs-3">

                        <a href="{{ path('manga', {'id' : manga.idManga }) }}" class="thumbnail"><img src="{{asset('img/cover/' ~  manga.slugManga  ~ '.jpg')}}" alt="Image" class="img-responsive"></a>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %} {% block footer %} {% endblock footer %}