{% extends "layout.html.twig" %}

{% block name %}{{ manga.NameManga }}{% endblock %}

{% block content %}
<p>
    <h2>{{ manga.NameManga }}</h2>
    <p>{{ manga.DescriptionManga }}</p>

</p>
{% endblock %}