{% extends "layout.html.twig" %}

{% block content %}
    <section>
        <div>
            <form method="post" action="">
                <p><label>Manga :</label><input type='text' name='manga' value='' class='auto'></p>
            </form>
        </div>
    </section>
  <script src="../../../js/recherche.js"></script>

{% endblock %}


