
{% extends "layout.twig" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/minified/jquery-ui.min.css" type="text/css" />

    <title>Document</title>
</head>

{% block body %}




<body>

    <section>
        <div>
            <form method="post" action="">
                <p><label>Manga :</label><input type='text' name='manga' value='' class='auto'></p>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
  
</body>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="js/recherche.js"></script>
{% endblock %}

