@import url("bootstrap.min.css");

/* ---------------------------------------- */


/* NOTE: Carrousel Page d'Accueil */


/* Removes the default 20px margin and creates some padding space for the indicators and controls */

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.carousel2 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}


/* Reposition the controls slightly */

.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}


/* Changes the position of the indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
    display: none;
}


/* Changes the colour of the indicators */

.carousel-indicators li {
    background: #bebebe;
}

.carousel-indicators .active {
    background: #333333;
}

.background {
    background-color: #bebebe;
}


/* ---------------------------------------- */


/* NOTE: Footer */

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #ffffff;
    padding: 60px 0px;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding-top: 50px;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #3c3d3e;
    padding: 20px;
}

footer ul li a:hover {
    color: #3c3d3e;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #000000;
    text-decoration: none;
}

.footer-top .col-lg-2:hover .fa,
.footer-top .col-lg-2:hover a {
    color: #7dabdb;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}


/* ---------------------------------------- */


/* NOTE: "Fiche Manga" et "Page d'Accueil" */

.prochainement {
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

#coverfiche {
    width: 100%;
    border-style: double;
    border-width: 5px;
}

.backgroundfiche {
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
}

#description {
    margin-left: 0%;
    margin-top: 0%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

#titredescription {
    margin-bottom: -2%;
    display: inline-flex;
    align-items: center;
    margin-top: 1%;
}

#button {
    margin-top: -5%;
}

span {
    color: #BEBEBE;
}


/* ---------------------------------------- */


/* NOTE: Barre de recherche */

#imaginary_container {
    margin-top: 20%;
    /* Don't copy this */
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

#recherchecss {
    padding-top: 4%;
    padding-bottom: 4%;
}


/* NOTE: Espace pour les résultats de recherches  */

#espacerecherche {
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}


/* ----------------------------------------- */


/* NOTE: Page pour modifier un manga */

#boutonajouter {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

#boutonmodifier {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

#ajouter {
    display: none;
    text-align: right;
    width: 50%;
    text-align: inherit;
    display: block;
    margin: auto;
}

#ajouter:target {
    display: block
}

#recherchemodif {
    width: 156%;
    margin-top: 5%;
}

#boutonenregistrer {
    width: 50%;
    margin: auto;
    display: block;
}


/* ----------------------------------------- */