@import url("bootstrap.min.css");

/* Removes the default 20px margin and creates some padding space for the indicators and controls */

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.carousel2 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}


/* Reposition the controls slightly */

.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}


/* Changes the position of the indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the colour of the indicators */

.carousel-indicators li {
    background: #bebebe;
}

.carousel-indicators .active {
    background: #333333;
}

.background {
    background-color: #bebebe;
}

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #ffffff;
    padding: 60px 0px;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding-top: 50px;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #3c3d3e;
    padding: 20px;
}

footer ul li a:hover {
    color: #3c3d3e;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #000000;
    text-decoration: none;
}

.footer-top .col-lg-2:hover .fa,
.footer-top .col-lg-2:hover a {
    color: #7dabdb;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}

#prochainement {
    width: 15%;
    margin-left: 2%;
    margin-right: 2%
}